.container {
  position: relative;
  height: 90vh;
  width: 90vw;
  overflow: auto;
  overflow-x: hidden;
  user-select: none; // !!
}

.row-container {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 50px;
  width: 100%;
  height: 100%;
  //   z-index: 1;
}

.row-content-container {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 50px 50px 0px 50px;
  height: 0;
  // width: 100%;
  // height: 100%;
  // z-index: 0;
}

.row {
  height: 50px;
  width: 100%;
  border: 1px solid lightgray;
  box-sizing: border-box;
  //   z-index: 2;
}

.row-content {
  height: 50px;
  width: 100%;
  border: 1px solid purple;
  background-color: plum;
  position: relative;
  box-sizing: border-box;
  //   z-index: 3;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

.centre {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
}

.event-day,
.event-week,
.event-month {
  padding: 10px;
  border-radius: 0.2em;
  font-size: 10pt;
  animation: 0.5s ease-out 0s 1 eventLoad;

  .event-name {
    font-weight: 500;
  }

  p {
    font-weight: 300;
  }
}

.event-day {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 30px;
  background-color: #ddd4f8;
  border-left: 3px solid #8465eb;
  color: #8465eb;
}

@keyframes eventLoad {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.event-week {
  width: 100px;
  height: 70px;
  background-color: #ddd4f8;
  border-left: 3px solid #8465eb;
  color: #8465eb;
}

.event-month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 25px;
  background-image: linear-gradient(to right, #8465eb, #a088f0);
  color: white;
}

@keyframes eventLoad {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

.mode-select {
  height: 23px;
  width: 200px;
  border: 1px solid #3847cc;
  border-radius: 0.2em;
  display: flex;
  justify-content: space-evenly;
  font-size: 0.8em;

  .mode,
  .mode-selected {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .mode {
    color: #3847cc;
  }

  .mode-selected {
    color: white;
    background-color: #3847cc;
  }

  .vert-divide {
    width: 3px;
    background-color: #3847cc;
  }
}

.add-event {
  height: 23px;
  padding-right: 5px;
  width: 80px;
  align-items: center;
  border: 1px solid #3847cc;
  border-radius: 0.2em;
  display: flex;
  justify-content: space-around;
  font-size: 0.8em;
  color: #3847cc;
}

.prev-next {
  .arrow-button {
    height: 22px;
    width: 22px;
    background-color: #3847cc;
    border: none;
    border-radius: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    outline: none;
  }

  .left-arrow {
    padding-right: 2px;
  }

  // .right-arrow {
  //   padding-left: 2px;
  // }

  .arrow-button:hover {
    background-color: rgb(88, 103, 240);
  }
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.hour-rows {
  .dotted-line {
    // border-top: 1px dashed lightgray;
    height: 1px;
    width: 13px;
    background-image: linear-gradient(
      to right,
      lightgray 70%,
      rgba(255, 255, 255, 0) 0%
    );
    background-size: 7px 1px;
    background-repeat: repeat-x;
  }
}
