<!-- <a (click)="addEventSelected()">Add Event</a>
<div class="container">
  <div class="row-container" appRowSelection (rowSelectionChange)="updateRows($event)">
    <div *ngFor="let row of rows; let i = index">
      <div class="row" [attr.row-number]="i" [style.background-color]="row.selected ? 'blue': 'transparent'"></div>
    </div>
  </div>

  <div class="row-content-container">
    <div *ngFor="let test of events" class="row-content" [style.top]="test.position" [style.height]="test.height">
      {{test.eventName}} : {{test.height}}
    </div>
  </div>
</div> -->

<div class="centre">
  <div class="event-day">
    <span class="event-name">Need Donuts</span>
    <span class="event-name">1:00 - 1:30 am</span>
  </div>
  <div class="event-week">
    <span class="event-name">Need Donuts</span>
    <p class="event-desc">Donut supply running low!</p>
  </div>
  <div class="event-month">
    <span class="event-name">Need Donuts</span>
  </div>
</div>


<router-outlet></router-outlet>